:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Set the background color to black */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Define the container for the albums */
.album-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin: 25px ;
}

/* Define styles for each album */
.album {
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  position: relative;
 
}

/* Apply brightness effect to album cover image on hover */
.album:hover .image img {
  filter: brightness(0.5);
}

/* Change the overlay's background color on hover */
.album:hover .image-container::before {
  background-color: rgba(0, 0, 0, 0.5); /* Darken the image on hover */
}

/* Center-align the header text */
.header {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}

/* Styling for Album Name and Artist Name */
.album .album-name {
  text-align: center;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.album .artists {
  text-align: center;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #a0a0a0; /* Set the default color for artist names */
  text-decoration: none;
}

.album .artists a {
  color: #fff; /* Change the color for clickable artist names */
  text-decoration: none;
}

/* New styles for ButtonsContainer */
.image-container {
  position: relative;
  overflow: hidden;
}

/* Set the default filter for the image and overlay */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  transition: background-color 0.4s; /* Smooth transition on hover */
  pointer-events: none; /* Allows clicks to pass through the overlay (I am not sure if it is actually needed)*/
}

/* Apply brightness effect to the image on hover */
.album:hover .image-container img {
  filter: brightness(0.5);
}

/* Change the overlay's background color on hover */
.album:hover .image-container::before {
  background-color: rgba(0, 0, 0, 0.5); /* Darkening the image on hover over event */
}

/* Keep the buttons unaffected on hover */
.album:hover .buttons-container img.icon {
  filter: brightness(1) invert(1);
}

.buttons-container {
  position: absolute;
  top: 45%;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s;
}

.album:hover .buttons-container {
  opacity: 1;
  transition: 0.4s;
}

.buttons-container button {
  background: transparent;
  border: none;
}

/* Lower the opacity of the button icons */
.buttons-container img.icon {
  width: 30px;
  height: 30px;
  filter: brightness(1) invert(1);
  opacity: 0.7; /* Set the initial opacity to a lower value */
  transition: opacity 0.4s, filter 0.4s; /* Add transitions for opacity and filter for a smooth effect */
}

/* Increase opacity and reset filter when the button icons are hovered over */
.buttons-container img.icon:hover {
  transform: scale(1.3);
  opacity: 1; /* Increase opacity to 1 */
  filter: brightness(1) invert(1); /* Reset filter */
}

.buttons-container button.icon.play {
  width: 45px;
}

/* Underline album name and artist name on hover */
.album .album-name:hover,
.album .artist-name:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 750px) {
  .album-container {
    grid-template-columns: 1fr 1fr;
  }

  .buttons-container button.icon.play {
    width: 50px;
  }

  .buttons-container button.icon.dots {
    width: 40px;
  }
}

@media (min-width: 1035px) {
  .album-container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .buttons-container {
    gap: 8px;
  }
}

@media (max-width: 430px){
  .image img{
    width:100%
  }
}

